*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#banner {
    width: 1600;
    height: 808px;
    background-image: url(images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text {
    padding: 200px 200px 200px 830px;
    text-align: right;
}  
.banner-text h1{
    font-size: 65px;
    text-transform: capitalize;
    margin: 10px 0 20px 20px;
    color: #FFFFFF;
}
.banner-text p {
    font-size: 18px;
   margin: 10px 0 32px 0;
   color: #FFFFFF;
}
.banner-text button{
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #005FAC;
}