*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
button{
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #005FAC;
}
button:hover {
    cursor: pointer;
}



#banner {
    width: 1600;
    height: 808px;
    background-image: url(images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text {
    padding: 200px 200px 200px 830px;
    text-align: right;
}  
.banner-text h1{
    font-size: 65px;
    text-transform: capitalize;
    margin: 10px 0 20px 20px;
    color: #FFFFFF;
}
.banner-text p {
    font-size: 18px;
   margin: 10px 0 32px 0;
   color: #FFFFFF;
}

/* My LFailure Section */
.my-failure {
    display: flex;
    width: 1000px;
    height: 700px;
    margin: auto;
    padding: 90px 0;
}
.img {
    width: 560px;
    height: 700px;
}
.failures-text {
    margin: 240px 0px 180px 45px;
}
.failures-text ul {
    list-style: none;
}
.failures-text h3{
    font-size: 40px;
}
.failures-text p,li{
    font-size: 16px;
    margin: 18px;
}
/* My Plans Section */
#my-plans {
    width: 80%;
    height: 300px;
    margin: auto;
}
#my-plans h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.my-plans {
    display: flex;
}
.plan {
    margin: 0 40px;
}
.plan img {
    height: 90px;
    width: 90px;
    margin: 0 40px;
}
.plan h3 {
    font-size: 30px;
    margin: 18px 0;
}
.plan p {
    font-size: 25px;
    text-align: center;
}
/* Article */
#article {
    margin: 140px;
    background-color: #ECF9FF;
    padding: 35px;
    border-radius: 5px;
}
#article h1 {
    text-align: center;
    font-size: 65px;
}
.articles {
    display: flex;
    flex-wrap: wrap;
}
article {
    width: 300px;
    height: 250px;
    margin: 30px 30px 0 30px;
}
article h2 {
    font-size: 30px;
    margin:20px 0;
}
article p {

}
/* Call Now section */
.call-now{
    width: 80%;
    height: 300px;
    background-image: linear-gradient(to right, rgba(0, 95, 172, 0.9),rgba(0, 95, 172,0.1)),url('images/watch.png');
    background-size: cover;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 130px;
}
.call-now-textbox {
    width: 460px;
    height: 182px;
    padding: 59px 0 59px 65px;
}
.call-now h1{
    font-size: 40px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

/* Footer */
footer {
    background-color: #151414;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.footer-text {
    margin: 140px;
    width: 350px;
}
.footer-text h1{
    font-size: 45px;
}
.footer-text p {
    font-size: 16px;
    padding: 14px 0;
} .footer-subscribe {
    margin: 140px 140px 140px 0;
    display: flex;
    flex-direction: column;
}
.footer-subscribe h3 {
    font-size: 26px;
}
.footer-subscribe input {
    width: 100%;
    padding: 16px;
    margin: 30px 0;
    background: transparent;
}