*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#banner {
    width: 1600;
    height: 808px;
    background-image: url(images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text {
    padding: 200px 200px 200px 830px;
    text-align: right;
}  
.banner-text h1{
    font-size: 65px;
    text-transform: capitalize;
    margin: 10px 0 20px 20px;
    color: #FFFFFF;
}
.banner-text p {
    font-size: 18px;
   margin: 10px 0 32px 0;
   color: #FFFFFF;
}
.banner-text button{
    padding: 16px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #005FAC;
}
/* My LFailure Section */
.my-failure {
    display: flex;
    width: 1000px;
    height: 700px;
    margin: auto;
    padding: 90px 0;
}
.img {
    width: 560px;
    height: 700px;
}
.failures-text {
    margin: 240px 0px 180px 45px;
}
.failures-text ul {
    list-style: none;
}
.failures-text h3{
    font-size: 40px;
}
.failures-text p,li{
    font-size: 16px;
    margin: 18px;
}
/* My Plans Section */
#my-plans {
    margin: 0 230px;
}
#my-plans h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.my-plans {
    display: flex;
    width: 1120px;
    height: 200px;
}
.plan {
    margin: 0 35px;
}
.plan img {
    height: 90px;
    width: 90px;
    margin: 0 40px;
}
.plan h3 {
    font-size: 30px;
    margin: 18px 0;
}
.plan p {
    font-size: 25px;
    text-align: center;
}